@import url(reset.css);

.heading {
	box-sizing: border-box; 
	height: 50px;
	padding: 15px;
	font-size: 20px;
	background-color: red;
	color: white; 
	font-family: 'GrtskTera-Semibold', sans-serif;}

.main {
	text-align: center;
}
.column {
	text-align: center;
	display: inline-block;
	height: 800px;
	width: 350px;
	border: solid 3px yellow; 
	box-sizing: border-box;
	border-radius: 20px;
	padding: 30px;
	margin: 30px 15px 15px 30px;
	font-family: sans-serif;
}



.heading1 {
	font-size: 23px;
	font-family: sans-serif;
	padding: 0px 0px 20px 0px;
	font-family: 'GrtskTera-Semibold', sans-serif;
}

footer {  
	height: 25px;
	font-size: 23px;
	background-color: red;
	color: white; 
	font-family: sans-serif;
	padding: 10px;
	}