@import url(reset.css);
body {
	background-color: pink;
}

header	{
z-index: 1;
height: 140px;
background-color: white;
border:solid 1px white;
display: flex;
justify-content:space-between;
align-items:center;
flex-direction:row;
flex-wrap: nowrap;}

nav {

font-family: Arial;
font-size: 50px;
margin:  40px;
}

a {
	text-decoration: none;
	margin:  20px;
	flex-wrap:nowrap;
	color: #E50043;}

.evian {
font-family: Arial;
font-size: 70px;
margin:  30px;
color: #E50043;}

.firstblock {
position: relative;
z-index: 0;
height: 950px;
top: 140px;

background-image: url(../img/evian_origins_logo.png)
}
.glass {
position: absolute;
height: 950px;
left:170px;