@import url(reset.css);

html {
	font-size: 22px;
}

body {
	padding:50px;
}
section {
	background-color: navy;
	color: #fff;
	border: 1px solid #aaa;
	border-radius: 1rem;
	padding: 1rem;
}

main {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 20rem 30rem 10rem;
	grid-template-rows: 5rem 10rem 3rem auto;
}
.sect-a {
	grid-column-start: 1;
	grid-column-end: 3;
}
.sect-c {
	grid-row: 2/4;
}

.sect-a:after {
	content: 'Section A';

}

.sect-b:after {
	content: 'Section B';
}

.sect-c:after {
	content: 'Section C';
}
.sect-d:after {
	content: 'Section D';
}
.sect-e:after {
	content: 'Section E';
}
.sect-f:after {
	content: 'Section F';
}
.sect-g:after {
	content: 'Section G';
}