@import url(reset.css);

html {
	background-color: black;
}

header {
	font-size: 15px;
	color: white;
	display: grid;
	padding: 0.5rem;
	grid-template-columns: 2fr 6fr 4fr;
	grid-template-rows: 5rem;
	grid-gap: 1rem;
	grid-template-areas:
	"logo menu menu lang"
	"money money money money";
}
.mobmenu {
	display: none;
}

/*КНОПКА*/
.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 45px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.logo {
	grid-area: logo;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation {
	font-size: 15px;
	display: flex;
	grid-area: menu;
	align-items: center;
	justify-content: center;
}

.engru {
	grid-area: lang;
	display: flex;
	align-items: center;
	font-family: 'helvetica', sans-serif;
	font-weight: bold;

}
.eng {padding: 0 10px;
	display: inline-block;
	border-right: 2px solid white;
	align-items: center;
	justify-content: center;
}



.search {padding: 0 10px;}

.main-menu_item {
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	justify-content: center;
	padding: 10px;
}
.money {
	height: 2.5rem;
	grid-area: money;
	background-color: white;
	border-radius: 0.4rem;
	display: flex;
	align-items: center;
	padding: 0 16px;
	margin: 0 50px;
 	justify-content: space-between;
}
.exchange {
	color: black;

}

.dollar {display: inline-block;
margin: 0 5px 0 0;}
.euro {display: inline-block;
margin: 0 5px 0 0;}

h1 {display: inline-block;
font-family: 'helvetica', sans-serif;
font-weight: bold;
color: #9CA1A9;
margin: 0 5px 0 0;}

.currency {display: inline-block;
font-family: 'helvetica', sans-serif;
font-weight: bold;
color: black;}






h2 {
display: inline-block;
font-family: 'helvetica', sans-serif;
font-weight: bold;
color: #9CA1A9;
padding: 0 16px;
}
.order {
display: flex;
justify-content: flex-end;
align-items: center;
 text-align: right}

.content {
	background-color: white;
	border-radius: 0.4rem;
	padding: 60px;
	margin: 0 58px;
	background: #F2F2F2
}

.post1 {
	background: #FFFFFF;
	border: 5px solid #A37846;
	border-radius: 0.4rem;
}

h3 {
	font-family: PF Regal Text Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 50px;
	text-align: center;
	margin: 66px 45px;}

.time1 {
	font-family: helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;

	text-align: center;

	color: #9CA1A9;
	padding: 20px;}


.post2 {
	padding: 15px;
	background: #FFFFFF;
	border: 1px solid #9CA1A9;
	border-radius: 10px;
	margin:  17px 0;

	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1rem;
	grid-template-areas:
	"a b c "
	"a d f";
}

.n1 {grid-area: a;
	font-family: PFRegalTextPro-RegularA;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.n2 {grid-area: b;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.n3 {grid-area: c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

.n4 {grid-area: d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

.n5 {grid-area: f;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
h4 {
 margin: 0 0 30px 0;
}

h5 {
 margin: 0 0 30px 0;
}

.time2 {
	font-family: helvetica;
	font-style: normal;
	font-size: 10px;
	line-height: 18px;
	color: #9CA1A9;	
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.footer-group {
	margin: 20px;
}

.footer-title {
  font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
  letter-spacing: 1px;
	font-size: 15px;

	text-transform: uppercase;

	color: grey;}

.linkroot {
	text-decoration: none;
	color: white;
	font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
	font-weight: Light;
	font-size: 14px;

	line-height: 16px;
	padding:  5px 0;

	-webkit-font-smoothing: antialiased;
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 100px;
}
.footer-title {
	display: flex;
}

.linkroot {
	display: flex;
	flex-direction: column;
}

.block2 {
	padding: 20px 0 0 0;
}

@media all and (max-width: 992px) {
	.post2 {
		padding: 0;
	background: #FFFFFF;
	border: 1px solid #9CA1A9;
	border-radius: 10px;
	margin:  17px 0;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 1rem;
	grid-template-areas:
	"a"
	"b"
	"c"
	"d"
	"f";}

	main {
	
		padding: 0.5rem;
	
	}

	.n1 {grid-area: a;
		padding: 0 0 10px;}

	.n1, .n2, .n3, .n4  {
	border-bottom: solid 1px grey ;
	font-size: 20px;
	padding: 10px;
	}   


.n5 {	font-size: 20px;
	padding: 10px;}



	.content {
		padding:  10px;
	}

	.post1 {
		border: 2px solid #A37846;
	}

.navigation {
	 display: none;
}
.eng { display: none;}

.mobmenu {
	grid-area: mob;
    display: flex;
    align-items: center;
    place-self: center end;
    height: 30px;}

header {
	font-size: 15px;
	color: white;
	display: grid;
	padding: 0.5rem;
	grid-template-columns: 1fr 6fr 3fr;
	grid-template-rows: 3rem;
	grid-gap: 1rem;
	grid-template-areas:
	"lang logo logo mob"
	"money money money money";
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
	z-index: 1;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;

  font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;

  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;

	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;

	color: #F1F1F1;
	font-size: 15px;
	color:  white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}


.logomob {
	top: 20px;
	margin: 30px;
}

.line {
		border-bottom: solid 0.5px white ;
}
.logomedmob {height: 27px;
}
.menu {
	margin: 20px ;
}

.menu__item:hover {
 color: #DBAD7A;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}


.meduzalogo {
	height: 20px
}

.footer-nav{
	display: block;
	flex-wrap: wrap;
   margin: 100px;
   text-align: center;
}
.footer-title {
	display: inline-block;
	text-align: center;
}
.h2 { font-size: 7px;
}
.money {
	margin: 0 58px;
}

@media all and (max-width: 450px) {
	.content {
		margin: 0px;
	}
	.money {
	margin: 0;
	padding: 5px;
}

	.engru {
	padding: 20px 5px;
}
	.mobmenu {
	margin: 0 10px;
	}
	h3 {
		font-size: 35px;
		line-height: 40px;
	}
}


/*vertical-alighn: top; - выравниват див по вертикали /*





