@import url(reset.css);

.vh {
height: 30vh;
width: 60vw;
background-color: navy;
margin: auto;
}

.vminvmax {
height: 50vmax;
width: 80vmin;
background-color: pink;
margin: auto;

}

.inner {
	height: 200px;
	width: 70%;
	background-color: pink;
	margin: auto;
}
.popup {
	position: fixed;
	height: 200px;
	width: 500px;
	background-color: black;
	border-radius: 5%;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

}