@use 'shared' with (
   $color:rgb(40, 107, 154),
    $width: 2px 
) 
// переобозначили цвет модуля
// можно изменить имя при помощи "as"

@use 'sass:list';
@use 'sass:map';


// Null
$no_value:null; 

// Логические значения
$var1: true;
$var1: fals;

// словари MAPSs

$border_pairs: ("width":1px, "color":black, "type":solid);
footer {
border: map.get($border_pairs,"width") map.get($border_pairs, "color")
map.get($border_pairs, "type");
}

// строки 

$numbers: (12px, 40px, 50%, 1rem);
section {
     min-width: list.nth($numbers,2);
}

header {
    h1 { font-size: 20px;
    color: red;
 }
    h2 { font-size: 20px;
        color: rgb(30, 255, 0);

    }
    h3 {
        ont-size: 20px;
        color: rgb(51, 0, 255);
    }
    > {
        time {
            color: blueviolet
        }
    }
}

.blogpost {
    padding: 2rem;
    &_header {
        font-size: 30px;
        color: aqua;
    }
}
a {
    &:hover {
        color: rgb(229, 255, 0)

    }
    &:link {
       text-decoration: none;
        
    }
    &:active {
        color:aquamarine;
    }


    &:visit {
        color:pink;
        
    }
}

$border_width: 2px;

article {
    $color: black;
    border: $border_width solid $color;
}

section {
    border: $border_width solid rgb(224, 58, 58);
}

// числа 

$width: 150px;

article {
    min-width: $width;
}

// строки с кавычками 

$font_family: 'Helvetica';
$file_name: 'background.png';
article {
    font-family: $font_family;
    background-image: url("/images/#{$file_name}");
}

// строки без кавычек

$type: solid;
$prefix: -ms;
article {
    border: 1px $type black;
    #{$prefix}-flex: 1;
}

// цвета



$width: 100px;
$gap:50px;

article {
    min-width: $width + $gap;
}

// Миксын группа свойств или моральный кодекс внутри нас

@mixin no_margin() {
    margin: 0;
}

@mixin border($type,$color:black) {
    border: 1px $type $color;
}
@mixin name {
    
}
body {
    @include no_margin();
    @include border(solid, green);
}

article {
    @include no_margin();
    @include border(solid);
}

@mixin  link () {
    &:hover {
        text-decoration: none;
        color: crimson;
        @content; // включает дополнительные свойства  в миксын 
    }
}

a {
    font-size: 0,9rem;
    @include link() {
        padding: 1px;
    };
}

// use позволяет загружать встроеные модули и содержимое других файлов

body {
    color: shared.$color;
}

footer {
    @include shared.border();
}

